.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    // max-width: 90vw;

    z-index: 5;

    @media (min-width: 720px) {
        max-width: 80vw;
    }
}