@use "../_variables.scss" as *;

.card {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 2dvh 0.1dvw;
  padding: 0 0 3vmin 0;

  background-color: $primary-color-grey-lighter;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5%;

  transition: all 0.3s ease;

  overflow: hidden;

  animation: $fade-in-animation;

  @media screen and (min-width: 720px) {

    width: 300px;
    margin: 2dvh 2vmin;

  }

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }

  &__button {
    width: 50%;
    margin: 0 auto;
    // margin: 0.5vmin 2vmin 0.5vmin 2vmin;
    padding: 10px 20px;

    font-size: clamp(1.2rem, 1.4vmin, 1.8rem);
    font-weight: 600;
    text-decoration: none;
    text-align: center;

    color: #fff;
    background-color: #29aef2;
    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
      background-color: #155634;
    }
  }

  &__content {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: 0 0 2vmin 0;
    padding: 1.5vmin 2vmin 0.5vmin 2vmin;
    font-size: clamp(1.2rem, 1.4vmin, 1.8rem);

    @media screen and (min-width: 720px) {
      padding: 1.5vmin 1vmin 0.5vmin 1vmin;
    }
  }

  &__image {
    width: 100%;
    height: 200px;
    // border-radius: 5%;
    object-fit: cover;
  }

  &__title {
    margin: 1vmin 2vmin;

    font-size: 24px;
    // margin-bottom: 20px;

    color: $primary-color-dark;
  }

  &__description {
    margin: 1vmin 2vmin;
    font-size: clamp(1.2rem, 1.4vmin, 1.8rem);
    // color: $primary-color-green;

    color: $primary-color-dark;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

  }

  &__author {
    font-size: 14px;
    color: #666;
  }

  &__date {
    font-size: 14px;
    color: #666;
  }
}