.card {
    width: 300px;
    padding: 20px;
    margin: 2dvh 1dvw;


    background-color: green;
    border-radius: 5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
    .card-title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .card-description {
        font-size: 16px;
        color: #666;
    }
    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        .card-author {
        font-size: 14px;
        color: #666;
        }
        .card-date {
        font-size: 14px;
        color: #666;
        }
    }   
}