@use "../_variables.scss" as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 5vmin 2vmin;

  text-align: center;

  color: #222;
  background-color: $primary-color-grey-light;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);


  &__button {
    margin: 2vmin 0 0 0;
    padding: 1.5vmin 4vmin;

    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

    background-color: #29aef2;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;

    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      color: #29aef2;
      background-color: #fff;
      border-color: #29aef2;

      transform: scale(1.05);
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  &__error {
    font-size: clamp(0.8rem, 1vw, 1rem);
    font-weight: 400;

    color: red;
  }




  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    max-width: 50%;
    margin: 0 2vmin;
    padding: 0 2vmin;
  }

  &__imageContainer {
    display: none;
  }

  &__input {
    min-width: 350px;
    // margin: 0 0 2vmin 2vmin;
    padding: 1vmin 2vmin;

    font-size: 1.2rem;
    font-weight: 400;
    color: #333;

    border: 1px solid #333;
    border-radius: 5px;
    outline: none;

    transition: 0.3s ease-in-out;

    &:focus {
      border: 1px solid #29aef2;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1dvh 0 2dvh 0;

    font-size: clamp(1.2rem, 1.2vw, 2rem);
    font-weight: 700;
  }


  &__textarea {
    min-width: 350px;
    min-height: 150px;

    // margin: 0 0 0 2vmin;
  }

  &__title {
    margin: 0 0 2dvh 0;
    padding: 0 2dvw;

    font-family: 'Merriweather', serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
  }
}

/*************************************************** MEDIA QUERIES - LARGE SCREENS ******************************************************/
/* ********   ------------ ----------   --------     ------           --------   ----    ---- ------------ -----------  --------  ------------ ------------ 
----------  ************ ************ ********    ********         **********  ****    **** ************ ***********  ********  ************ ************ 
************ ----         --        --   ----     ----------       ----    ---- ----    ---- ----         ----    ---    ----    ----         ----         
---  --  --- ************ **        **   ****    ****    ****      ***      *** ****    **** ************ *********      ****    ************ ************ 
***  **  *** ------------ --        --   ----    ------------      ---   --  -- ----    ---- ------------ ---------      ----    ------------ ------------ 
---  --  --- ****         **        **   ****    ************      ****   ** ** ************ ****         ****  ****     ****    ****                ***** 
***  **  *** ------------ ------------ --------  ----    ----       ------ -- - ------------ ------------ ----   ----  --------  ------------ ------------ 
---      --- ************ **********   ********  ****    ****        ******* ** ************ ************ ****    **** ********  ************ *************/


@media (min-width: 768px) {
  .contact {

    &__button {
      margin: 1vmin 0 0 0;
      padding: 1.5vmin 8vmin;

    }

    &__imageContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 0 2vmin 8vmin 0;
    }
  }

}