.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  padding: 0.5vh 3vw;

  background-color: #274b3d;

  z-index: 100;
}

.navBrandContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // text-decoration: none;
}

.navBrandContainer:hover {
  color: #f4f4f4;
}

.navBrand {
  font-family: "Syne", sans-serif;
  // font-family: 'Josefin Sans', sans-serif; // 'Syne', sans-serif;
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  text-decoration: none;
  letter-spacing: 0.1rem;

  color: #fff;
}

// .brandLogoSm {
//   // width: 55px;
// }
.brandTextSm {
  display: block;
}


.brandLogoLg {
  display: none;
}

.brandTextLg {
  display: none;
}

.navIcon {
  font-size: 40px;

  transition: 0.3s ease-in-out;

  &:hover {
    color: hsl(284, 33%, 72%);
  }
}
.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  padding: 0 1vw;
}

.navLinks a {
  margin: 0 1vw;

  font-family: "Neuton", sans-serif;
  font-size: clamp(1.2rem, 1.4vw, 1.5rem);
  font-weight: 400;

  color: white;
  text-decoration: none;
}

// Landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .navBar {
    padding: 0.2vh 2vw;
  }
  .brandTextSm {
    display: none;
  }
}

// Desktop
@media screen and (min-width: 768px) {
  .navBar {
    padding: 0.5vh 1vw;
  }

  .brandLogoSm {
    display: none;
  }
  .brandLogoLg {
    display: block;
  }

  .brandTextSm {
    display: none;
  }
  .brandTextLg {
    display: block;
  }
}
