.infounit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60vw;
    height: 20vh;
    background-color: red;

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 50%;
        // padding: 1rem;

        border: 1px solid #000;
    }

    .infounit__title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    .infounit__description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .infounit__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}