.infounit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // width: 60vw;
  // height: 250px;
  width: 50vw;
  height: 300px;

  margin: 0 0 4vmin 0;

//   background-color: #ece9d0;
background-color: #2d2c2d;

  border-radius: 20px;
  overflow: hidden;

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
  }

  &__contentsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;

    color: #fff;
    // color: #2d2c2d;
    // background-color: hsl(149, 31%, 81%);
    background-color: hsl(104, 45%, 39%);
  }

  &__imagesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;

    background-color: hsl(104, 45%, 39%);
  }

  .infounit__title {
    margin-bottom: 0.5rem;

    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
  }

  .infounit__description {
    margin: 0 3vmin;

    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-family: "Proxima Nova", sans-serif;
  }

  .infounit__image {
    // width: 100%;
    // height: 100%;
    // object-fit: cover;

    order: 1;
  }
}
