
@use "../_variables.scss" as *;

.infounit,
.infounit2 {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 90vw;
  max-height: 300px;
  // min-height: 250px;

  margin: 0 0 4vmin 0;
  // padding: 1vmin 3vmin;

  color: $text-color;
  // background-color: $primary-color-grey-light;
  background-color: #fff;

  border-radius: 20px;
  overflow: hidden;

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
  }

  &__contentsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 1vmin 3vmin;

    color: $text-color;

  }

  &__imagesection {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    width: 50%;
    height: 100%;
    object-fit: cover;

    // padding: 0 2vmin;

  }

  .infounit__title {
    margin-bottom: 0.5rem;

    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
  }

  .infounit__description {
    margin: 0 3vmin;

    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-family: "Proxima Nova", sans-serif;
  }

  .infounit__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    order: 1;
  }

  @media screen and (min-width: 768px) {
    // flex-direction: column;
    width: 50vw;
    // height: 100%;
  }
}
.infounit {
  min-height: 250px;
}
.infounit2 {
  min-height: 300px;

  padding: 2vmin 0;

  .infounit__contentsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 2vmin;

    text-align: left;
  }

  .infounit__description {
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    width: 50vw;
  }
}
