.verbListContainer {

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 90vw;
    margin: 2vmin 0 0 0;

    padding-inline-start: 0;

    text-decoration: none;
  }

  &__itemContainer {

    margin: 2vmin 2vmin;

    list-style: none;
  }

  &__title {
    margin: 2vmin 0 0 0;
    font-family: "Cabin", sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-weight: 400;
    text-align: center;
  }

  &__verbItem {

    padding: 1.5vmin 3vmin 1.7vmin 3vmin;

    font-family: "Cabin", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 700;
    text-decoration: none;

    color: white;
    background-color: #008dcb;

    border: 2px solid #008dcb;
    border-radius: 10px;

    transition: 0.3s ease-in-out;

    &:hover {
      color: #008dcb;
      background-color: white;
      border: 2px solid #008dcb;
    }
  }

  @media screen and (min-width: 768px) {
    &__list {
      width: 90vw;
    }
    &__verbItem {
      padding: 1.5vmin 3vmin 1.7vmin 3vmin;
  
      font-family: "Cabin", sans-serif;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      font-weight: 700;
      text-decoration: none;
  
      color: white;
      background-color: #008dcb;
  
      border: 2px solid #008dcb;
      border-radius: 10px;
  
      transition: 0.3s ease-in-out;
  
      &:hover {
        color: #008dcb;
        background-color: white;
        border: 2px solid #008dcb;
      }
    }
  }
}
