@use "../variables" as *;

.labelsPage {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  // height: 100vh;

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1vmin 3vmin;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2vmin 3vmin 1vmin 2vmin;

    font-size: clamp(1.2rem, 1.8vw, 1.6rem);
    color: #fff;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 3vmin;
    padding: 3vmin;

    color: $text-color;
    background-color: $text-color-sub;

    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-color-grey-light;
    }
  }

  &__label {
    padding: 1vmin 1vmin 0 1vmin;

    font-family: "Noto Sans", sans-serif;
    font-size: clamp(1.2rem, 1.4vw, 1.5rem);
    font-weight: 400;
    text-align: center;

    color: $text-color-light;
    // background-color: $secondary-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    // max-width: 90vmin;
    margin: 0 auto;

  }
}
