@use "../_variables.scss" as *;

.unsubscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 81vh;
    font-family: "Roboto", sans-serif;
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    text-align: center;
  
    color: #333;
    background-color: $primary-color-grey-light;

    &__button {
        padding: 1vmin 2vmin;
        border-color: $primary-color-grey-lighter;
        border-radius: 10px;

        &:hover {
            background-color: $primary-color-grey-semi-dark;
            color: white;

            transition: background-color 0.5s ease;
        }
    }

    &__content {
        margin-bottom: 2vmin;
    }

}