@use "../_variables.scss" as *;

.aboutSection {
    width: 100%;
    height: 81vh;
    padding: 1vmin 2vmin;


    font-family: 'Cabin', sans-serif;
    font-size: clamp(1.3rem, 2vw, 2rem);

    color: #fff;
    background-color: $primary-color-green-olive;

    @media screen and (min-width: 720px) {
        padding: 2vmin 10vmin;
    }

    &__title {
        font-size: clamp(2rem, 2.5vw, 2.5rem);
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        margin: 1.5vmin 0 1vmin 0;

        font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    }

    &__link {
        display: inline;

        font-family: 'Neuton', sans-serif;
        font-size: clamp(1.3rem, 2vw, 2rem);
        font-weight: 700;
        text-align: center;

        color: hsl(197, 71%, 83%);
        text-decoration: none;
        transition: 0.3s ease-in-out;

        &:hover {
            color: $link-hover-darker;
            transform: scale(1.5);

            transition: 0.3s ease-in-out;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        margin: 1.5vmin 0 1vmin 0;

        font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    }

    &__listTitle {
        padding: 2vmin 0 0 0;
    }

    &__listSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;

        font-size: clamp(1.3rem, 2vw, 2rem);
    }
}