// Main colors
$primary-color: #4D638A;
$primary-color-dark: hsl(217, 28%, 32%);
$primary-color-light: hsl(218, 48%, 62%);
$primary-color: #4D638A;
$secondary-color: #E0EAF1;
$accent-color: hsl(88, 50%, 43%);
$text-color: #333333;
$text-color-sub: #555555;
$text-color-light: #F8F9F9;
$background-color: #F8F9F9;


// GREEN
$primary-color-green: hsl(88, 40%, 63%);
$primary-color-green-light: hsl(88, 40%, 73%);
$primary-color-green-dark: hsl(88, 20%, 43%);
$primary-color-green-darker: hsl(88, 40%, 33%);
$primary-color-green-darkest: hsl(88, 40%, 25%);
$primary-color-green-olive: hsl(82, 39%, 30%);

// GREY
$primary-color-grey: hsl(88, 10%, 63%);
$primary-color-grey-light: hsl(88, 10%, 83%);
$primary-color-grey-lighter: hsl(88, 5%, 93%);
$primary-color-grey-semi-dark: hsl(88, 10%, 43%);
$primary-color-grey-dark: hsl(90, 5%, 23%);
$primary-color-grey-darker: hsl(88, 5%, 15%);

$link-hover: hsl(200, 89%, 75%);
$link-hover-darker: hsl(200, 89%, 55%);
$link-hover-darkest: hsl(200, 89%, 35%);

$fade-in-animation: fadeIn 0.5s ease-in forwards;

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
  }