// $primary-color: #333333;
// $secondary-color: #E0F2F1;
// $accent-color: #F8F9F9;
// $dark-gray: #212121;


// $primary-color: #9E8B73;
// $secondary-color: #C6E2B3;
// $accent-color: #333333;
// $text-color: #212121;
// $background-color: #F8F9F9;

// $primary-color: #2D6A4F;
// $secondary-color: #A5C9F0;
// $accent-color: #DAA520;
// $text-color: #333333;
// $text-color-light: #F8F9F9;
// $background-color: #F8F9F9;

// MOdern Neutrals
$primary-color: #4D638A;
$secondary-color: #E0EAF1;
$accent-color: #8BC34A;
$text-color: #333333;
$text-color-light: #F8F9F9;
$background-color: #F8F9F9;
$primary-color-grey: hsl(88, 40%, 73%);