// Modern Neutrals
$primary-color: #4D638A;
$primary-color-dark: hsl(218, 28%, 32%);
$secondary-color: #E0EAF1;
// $accent-color: #8BC34A;
$accent-color: hsl(88, 50%, 43%);
$text-color: #333333;
$text-color-sub: #555555;
$text-color-light: #F8F9F9;
$background-color: #F8F9F9;

$primary-color-green: hsl(88, 40%, 63%);
$primary-color-green-dark: hsl(88, 10%, 43%);


$primary-color-grey: hsl(88, 40%, 63%);
$primary-color-grey-light: hsl(88, 40%, 83%);
$primary-color-grey-dark: hsl(90, 36%, 24%);
$primary-color-grey-darker: hsl(88, 10%, 5%);