@use "./_variables.scss" as *;
@use '_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
background-color: darkolivegreen;

}
// START GLOBAL STYLES ********

main {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  width: 100%;
  height: 100%;

  background-color: hsl(54, 2%, 77%);
  background-image: linear-gradient(
    0deg,
    hsl(217deg 11% 77%) 0%,
    hsl(217deg 11% 80%) 21%,
    hsl(217deg 11% 82%) 30%,
    hsl(217deg 11% 85%) 39%,
    hsl(217deg 11% 87%) 46%,
    hsl(217deg 11% 90%) 54%,
    hsl(217deg 11% 92%) 61%,
    hsl(217deg 11% 95%) 69%,
    hsl(217deg 11% 97%) 79%,
    hsl(0deg 0% 100%) 100%
  );

}

.storyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  // padding: 2rem;

}

.storyColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  // width: 50%;
  margin: 0 2vmin;
  padding: 2rem;

  font-size: clamp(1rem, 1.2vmin, 1.5rem);
  font-family: 'Open Sans', sans-serif;

  color: #fff;
  background-color: $primary-color-green-dark;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.storyImageContainer {
  // width: 100%;
  // height: 30vh;

  @media (min-width: 768px) {
    width: 100%;
    height: auto;

    padding: 2vmin 0;
    // position: fixed;
  }
}

.storyImage {
  width: 100%;
  height: auto;

  // max-width: 50%;
  // height: auto;
  // margin: 0 auto;
  // width: 100%;
  // height: auto;
  // object-fit: cover;
  // object-fit: contain;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.textBox {
  background-color: hsl(54, 2%, 77%);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin: 1vmin 0;

  &.-yellow {
    font-weight: 700;
    color: #fff;
    background-color: hsl(40, 67%, 54%);
  }
}

