@use '../../_variables.scss' as *;

.successStory {
  display: flex;
  flex-direction: row;

  background-color: $primary-color-grey-light;

  @media (min-width: 1020px) {
    flex-direction: row;
  }


  &__imageWrapper {
    width: 50%;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: clamp(1rem, 2.2vw, 1.3rem);
    // font-family: "Proxima Nova", sans-serif;
    font-family: 'Lato', sans-serif;
    line-height: clamp(1.4rem, 2.5vw, 1.9rem);

    p {
      margin: 0 0 1vmin 0;
    }

  }

  &__contentWrapper {
    width: 50%;
    margin: 1vmin 0 3vmin 0;
    padding: 1vmin 3vmin;
  }

  &__client {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

    text-align: center;
  }

  &__dates {
    margin-bottom: 1.5rem;

    text-align: center;

    font-size: clamp(1rem, 1.2vw, 1.5rem);
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin: 0 auto;
    padding: 2vmin 0 0 0;

    font-size: clamp(1.5rem, 3vw, 2.8rem);
    text-align: center;
  }

  &__client {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-bottom: 0.5rem;
  }

  &__dates {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-bottom: 1.5rem;
  }

  &__title {
    margin: 0 auto;
    font-size: 2rem;
  }



}