@use '../../_variables.scss' as *;

.successStory {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-grey-light;

  @media (min-width: 1020px) {
    flex-direction: row;
    flex-wrap: wrap; // Add this line
  }




  &__contentWrapper {
    display: block;
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    
    @media (min-width: 1020px) {
      width: 70%;
      margin-left: 0; // Remove the left margin
    }
  }

  &__client {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

    text-align: center;
  }

  &__dates {
    margin-bottom: 1.5rem;
    
    text-align: center;

    font-size: clamp(1rem, 1.2vw, 1.5rem);
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__imageWrapper {
    position: relative;
    width: 100%;
    height: 30vh;
  
    @media (min-width: 1020px) {
      position: sticky;
      top: 0;
      left: 0;
      width: 30%;
      height: calc(100vh - 100px); // Adjust 100px to match your footer height
    }
  }

  &__title {
    margin: 0 auto;

    font-size: clamp(1.5rem, 3vw, 2.8rem);
    text-align: center;
  }


  &__client {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-bottom: 0.5rem;
  }



  &__dates {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-bottom: 1.5rem;
  }

  &__title {
    margin: 0 auto;
    font-size: 2rem;
  }



}