.successStory {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;



  color: white;
  background-color: darkgreen;

//   border-radius: 2vmin;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 80vmin;
margin: 0 auto;
    padding: 3vmin;
  }

  &__image {
    // width: 100%;
    // height: 400px;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__content {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
