.verbItem {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    transition: all 0.2s ease-in-out;
  }

  &__header {
    width: 100%;

    margin: 1vmin 0 2vmin 0;

    font-family: "Neuton", sans-serif;
    font-size: clamp(1.2rem, 1.5vw, 2.2rem);
    text-align: center;

    color: rgb(98, 98, 98);
  }

  &__headWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 3vmin;
  }

  &__highlight {
    margin: 0 0 0 0;
    color: #1976d2;
  }

  

  // Larger than Mobile
  @media only screen and (min-device-width: 375px) {
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      margin: 1.5vmin 0 1vmin 0;
    }
  }

  // Landscape
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      font-size: 0.9rem;

      margin: 1vmin 0 0.6vmin 0;
    }
  }
  // Desktop
  @media screen and (min-width: 768px) {
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      margin: 1.5vmin 0 1vmin 0;
    }
    &__headWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin: 0 3vmin;
    }
    &__highlight {
      margin: 0 0 0 1vmin;
      color: #1976d2;
    }
    &__buttons {
      padding: 1vmin 0.5vmin 1vmin 2vmin;
      box-shadow: 6px 6px 5px 0px rgba(100, 100, 100, 0.2);
      -webkit-box-shadow: 6px 6px 5px 0px rgba(100, 100, 100, 0.2);
      -moz-box-shadow: 6px 6px 5px 0px rgba(100, 100, 100, 0.2);

      svg {
        fill: white;
        &:hover {
          fill: #1976d2;
        }
      }
    }
  }
}

.slideContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // width: 70vw;

  transition: all 0.2s ease-in-out;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // width: 5vmin;
  // padding: 0.5vmin 0.2vmin 0.5vmin 1.1vmin;
  padding: 1vmin 0vmin 1vmin 3vmin;
  margin: 0 1vmin;

  text-decoration: none;
  background-color: #1976d2;

  box-shadow: 3px 3px 2px 0px rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: 3px 3px 2px 0px rgba(100, 100, 100, 0.2);
  -moz-box-shadow: 3px 3px 2px 0px rgba(100, 100, 100, 0.2);

  border-radius: 50%;
  border: 2px solid #1976d2;

  transition: 0.3s;

  &:hover {
    background-color: white;
    border: 2px solid #1976d2;
  }

  &:active {
    transform: scale(1.2);
    transition: 0.5s;
  }

  svg {
    font-size: clamp(2rem, 3vw, 5rem);
    fill: white;
    &:hover {
      fill: #1976d2;
    }
  }
}